@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");

/* 主题配色风格源自于原班人马项目：Windows12网页版 */
:root {
    --text: #000;
    --text2: #444;
    --bg1: rgba(242, 242, 242, .9); 
    --bg2: rgba(255, 255, 255, .9);
    --bg3: rgba(0, 0, 0, .033);
    --bg4: #aaa;
    --bg50: #ffffff80;
    --bg70: #ffffff80;
    --sd: #22222230;
    --card: #ffffff78;
    --hover: #ffffff65;
    --hover-half: #ffffff40;
    --hover-b: #1111110f;
    --bggrey: #ddd;
    --fill: #d3d3d370;
    --bgul: url();
    --mm: #ffffffc0;
    --cm: #fafafa00;
    --bar: #efefef37;
    --hr: #ccc;
    --unfoc: #eaeaea;
    --msg: #ffffffe7;
    --theme-1: #ad6eca;
    --theme-2: #3b91d8;
    --href: #2983cc;
    --bd: #8f8f8f30;
    --s3d: #99999947;
    --mica: linear-gradient(215deg, #ffe7f6, #a9c3ff);
}

:root.dark {
    --text: #ddd;
    --text2: #aaa;
    --bg1: rgba(36, 36, 36, .8);
    --bg2: rgba(255, 255, 255, .1);
    --bg3: rgba(0, 0, 0, .15);
    --bg4: #444;
    --bg50: #00000080;
    --bg70: radial-gradient(rgba(26, 31, 53, 0.96) 25%, rgba(32, 32, 32, 0.96) 100%);
    --sd: #000000a0;
    --card: #72727240;
    --hover: #aaaaaa15;
    --hover-half: #ffffff0a;
    --hover-b: #eeeeee0f;
    --bggrey: #444;
    --fill: #54545470;
    --bgul: url();
    --mm: #ffffff50;
    --cm: #252525bb;
    --bar: #7272722a;
    --hr: #333;
    --unfoc: #202020;
    --msg: #303030d0;
    --bd: #ffffff06;
    --s3d: #11111150;
    --mica: linear-gradient(215deg, #2d161c, #102d53);
}

:root.nobr *,
:root.nobr *::before,
:root.nobr *::after,
:root.nobr *::-webkit-scrollbar,
:root.nobr *::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

:root.notrans *,
:root.notrans *::before,
:root.notrans *::after {
    transition: none !important;
    animation: none !important;
}

:root.nosd {
    --sd: none;
}

body,
p {
    transition: 100ms;
}

* {
    transition: 200ms ease-in-out;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

p {
    margin: 0;
}

html {
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    background: var(--bgul);
    background-size: cover;
    height: 100%;
    font-size: 15.5px;
    color: var(--text);
    user-select: none;
    -webkit-user-select: none;
    margin: 0;
}

.a {
    color: var(--text);
    text-decoration: none !important;
    cursor: pointer;
}

.jump {
    cursor: alias !important;
    /* text-decoration: underline; */
    color: var(--href);
}

.jump:hover {
    color: #999;
}

.jump:active {
    color: #666;
}

hr {
    background-color: #afafaf50;
}

::-webkit-scrollbar {
    border-radius: 7px;
    height: 14px;
    width: 14px;
}

::-webkit-scrollbar:hover {
    background-color: var(--card);
}

::-webkit-scrollbar-thumb {
    background: #7f7f7f70;
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
}

::-webkit-scrollbar-corner {
    display: none;
}

.act,
list:not(.new)>a,
#cs>list>a,
#datebox>.cont>.body>p,
.wg>.titbar>.more,
.wg.calc>.content>.b,
.button {
    transition: 80ms, transform 400ms cubic-bezier(0.14, 1.02, 0.17, 0.03) !important;
}

.act:active,
list:not(.new)>a:active,
#cs>list>a:active,
#datebox>.cont>.body>p:active,
.wg>.titbar>.more:active,
.wg.calc>.content>.b:active,
.button:active {
    transform: scale(0.93);
    /* filter: blur(0.5px); */
    filter: opacity(0.75);
    /* transition: transform 500ms cubic-bezier(0.24, 0.86, 0.36, 0.44) !important; */
}


/*** 以下通用控件 ***/

.input {
    background-color: var(--bg50);
    border: none;
    border-bottom: 2.5px solid;
    border-bottom-color: #7f7f7f7f;
    border-radius: 7px;
    padding: 3px 5px 3px 8px;
    outline: medium;
    width: 100%;
    color: var(--text);
    transition: 100ms, border 0s;
    box-shadow: 2px 2px 2px 2px var(--s3d);
}

.input:hover {
    background: var(--cm);
}

.input:focus {
    background-color: var(--bg1);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(var(--bg1), var(--bg1)), linear-gradient(90deg, var(--theme-1), var(--theme-2));
    border-bottom-color: transparent;
    box-shadow: 0 1px 10px var(--s3d);
    opacity: 1;
}

input.foc {
    display: block;
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

.btn {
    border: 0px solid;
    border-radius: 10px;
    padding: 7px 10px;
    transition: 100ms;
    background-color: #00000000;
}

.btn-icon {
    border: 0px solid;
    border-radius: 10px;
    padding: 1px 5px;
    background-color: #00000000;
    font-size: 23px;
    height: 33px;
    width: 33px;
}

.btn-icon.big {
    padding: 3px 7px;
    font-size: 19px;
}

.btn:hover {
    background: var(--hover);
}

.btn:active {
    transform: scale(0.9);
    opacity: 0.5;
}

.button {
    background-color: #9f9f9f40;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.2);
}

.button:active {
    filter: brightness(1.2) opacity(0.8);
}

i {
    filter: drop-shadow(1px 1px 2px #000000d4);
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.buttons>* {
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0px 4px;
    transition: transform 400ms cubic-bezier(0.14, 1.02, 0.17, 0.03) !important;
    text-align: center;
}

.buttons>.nr {
    color: var(--text);
    font-weight: bold;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}
.nr.prev:hover{
    transform: translateX(-5px); 
}
.nr.next:hover{
    transform: translateX(5px); 
}
.buttons>.play {
    position: relative;
    overflow: hidden;
    width: 80px;
    /* 添加固定宽度 */
    height: 80px;
    /* 添加固定高度，与宽度相等 */
    border-radius: 50%;
    /* 添加圆角 */
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 22%, rgba(0, 0, 0, 0) 53%);
    -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 22%, rgba(0, 0, 0, 0) 53%);
    transition: all 0.3s ease;
    background: linear-gradient(100deg, var(--theme-1), var(--theme-2));
    background-size: 200% 100%;
    animation: gradientMove 3s ease infinite;
    display: flex;
    /* 添加flex布局使图标居中 */
    align-items: center;
    justify-content: center;
}

/* 悬停效果 */
.buttons>.play:hover {
    transform: scale(1.05);
}

/* 流光效果 */
.buttons>.play::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent);
    transition: 0.5s;
}

.buttons>.play:hover::before {
    left: 100%;
    transition: 0.5s;
}

/* 边框渐变动画 */
.buttons>.play::after {
    content: '';
    position: absolute;
    inset: -2px;
    background: linear-gradient(45deg, var(--theme-1), var(--theme-2), var(--theme-1));
    background-size: 200% 200%;
    z-index: -1;
    animation: borderGradient 3s ease infinite;
}

/* 背景渐变动画 */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 边框渐变动画 */
@keyframes borderGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 保持图标样式不变 */
.buttons>.play>i {
    font-size: 48px;
    background-image: linear-gradient(100deg, var(--theme-1), var(--theme-2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1;
}

list {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 7px;
}

list>* {
    color: var(--text);
    text-align: inherit;
    border-radius: 7px;
    position: relative;
    display: block;
    padding: 2px 20px;
}

list:not(.new)>a {
    transition: 80ms, transform 400ms cubic-bezier(0.14, 1.02, 0.17, 0.03);
}

list:not(.new)>a:active {
    transform: scale(0.95);
}

list.new>a {
    transition: 50ms, opacity 80ms;
}

list.new>a:active {
    opacity: 0.7;
}

list>a:hover {
    color: var(--text);
    background-color: var(--hover-half);
    text-decoration: none;
    box-shadow: 0 1px 2px var(--s3d);
}

list>hr {
    width: calc(100% - 12px);
    padding: 0 !important;
    margin: 2px 6px;
    background-color: #7f7f7f7f;
    border-radius: 5px;
    height: 0.75px;
    cursor: inherit;
}

list>hr:hover {
    background-color: #7f7f7f7f;
}

list>.text {
    margin: 0;
    cursor: inherit;
    border: none;
}

list>.text:hover {
    background-color: unset;
    border: none;
}

list>span.focs {
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(0deg, var(--theme-1), var(--theme-2));
    background-size: cover;
    padding: 0;
    border-radius: 2px;
    position: relative;
    margin: -30px 7px 0 7px;
    z-index: 1;
    transition: 500ms cubic-bezier(1, 0, 0, 1);
    /* transform-origin: top; */
}

list>span.focs.cl {
    animation: fcl 200ms cubic-bezier(1, 0.8, 0, 0.2) 160ms;
}

@keyframes fcl {
    0% {
        transform: none;
    }

    50% {
        transform: scaleY(0.5);
    }

    100% {
        transform: none;
    }
}

.dock {
    position: fixed;
    border-radius: 8px;
    height: 40px;
    left: 0;
    bottom: 0;
    background-color: var(--bg50);
    /* backdrop-filter: blur(20px) saturate(1.5); */
    /* -webkit-backdrop-filter: blur(20px) saturate(1.5); */
    box-shadow: 0 1px 2px #44444460, 0px 3px 25px 1px var(--sd);
    padding: 7px 7px;
    margin: 10px;
    display: flex;
    transition: 200ms, transform 300ms cubic-bezier(0.14, 1.02, 0.17, 0.03), backdrop-filter, -webkit-backdrop-filter 0ms;
    bottom: 0;
}

.dock>* {
    padding-left: 3px;
    padding-right: 3px;
}

.dock.theme:hover,
.dock.date:hover {
    backdrop-filter: blur(20px) saturate(1.5) brightness(1.2);
    -webkit-backdrop-filter: blur(20px) saturate(1.5) brightness(1.2);
}

.dock.theme {
    height: 35px;
    width: 35px;
    padding-left: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 6px 1px var(--sd);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.dock.theme:active {
    transform: scale(0.9);
    filter: opacity(0.6) !important;
}

.dock.theme>.dark {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 40px;
    transition: 200ms cubic-bezier(0.9, 0, 0.1, 1);
    opacity: 0;
}

.dock.theme>.light {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 5px;
    transition: 200ms cubic-bezier(0.9, 0, 0.1, 1);
    opacity: 1;
}

.dock.theme.dk>.dark {
    left: 5px;
    opacity: 1;
}

.dock.theme.dk>.light {
    left: -30px;
    opacity: 0;
}
@keyframes clickRotate {
    0% {
        transform: rotate(0deg) scale(0.9);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes releaseRotate {
    0% {
        transform: rotate(0deg) scale(1.1);
    }
    100% {
        transform: rotate(-360deg) scale(1);
    }
}

.mica {
    background-color: var(--bg50);
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    padding: 38px 0 0 0;
    backdrop-filter: blur(25px) saturate(1.3);
    filter: none;
    -webkit-backdrop-filter: blur(25px) saturate(1.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
i.loved{
    background-image: linear-gradient(100deg, var(--theme-1), var(--theme-2));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}
.sidebar {
    min-width: 250px;
    opacity: 1;
    position: fixed;
    top: 38px;
    left: 10px;
    width: 15%;
    bottom: 70px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px var(--sd);
    padding: 10px;
    background-color: var(--bg70);
    display: grid;
    grid-template-rows: auto 1fr;
    transition: all .3s cubic-bezier(.77,0,.18,1);
    backdrop-filter: blur(20px) saturate(1.5);
    -webkit-backdrop-filter: blur(20px) saturate(1.5);
    will-change: transform, opacity;
}

.sidebar>.playing-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 20px;
    background-color: var(--card);
    border-radius: 10px;
    padding: 5px;
    overflow: auto;
}

#playing-list {
    /* border-top: 0.063rem solid var(--text2); */
    border-radius: 0px;
}

.poster {
    object-fit: cover;
    width: 4em;
    height: 4em;
    border-radius: 10px;
}

.song.playing {
    background: 
    linear-gradient(#00000000, #00000000), 
    linear-gradient(0deg, var(--theme-1), var(--theme-2));
    background-size: 4px 100%, 4px 100%; 
    background-position: left top, left top; 
    background-repeat: no-repeat; 
    box-shadow: 0 0 12px 2px var(--sd);
    transform: scale(1.01);
    border-left: 4px solid var(--accent);
    position: relative;
    transition: all 300ms ease;
}

.song {
    display: flex;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 5px 5px 5px;
    background-color: var(--bg50);
    transition: all 300ms ease;
    box-shadow: 0 0 6px 1px var(--sd);
    align-items: center;
    justify-content: flex-start;
    border-left: 4px solid transparent;
    width: auto;
}
.song>.controls>*:hover{
    transform: scale(1.1);
}
.song:hover {
    background: var(--bg70);
    transform: translateX(5px);
}

#lovelist>.song:hover, .search>.song:hover {
    background: var(--bg70);
    transform: scale(1.01);
}

.song>.info {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song>.info>.name {
    font-size: 1em;
    font-weight: bold;
    color: var(--text);
}

.song>.info>.artist {
    font-size: 0.9em;
    color: var(--text2);
}

#function-list>.check {
    background-color: var(--hover);
}

#function-list>*>i {
    background-image: linear-gradient(100deg, var(--theme-1), var(--theme-2));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.player>.player-content>.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.player>.player-content>.info>.title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text);
    line-height: 2;
}

.player>.player-content>.control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    width: 70%;
}

.player>.player-content>.control>.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

.player>.player-content>.control>.progress>.progress-bar {
    width: 100%;
    height: 5px;
    background-color: var(--bg50);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--bar);
    margin: 5px;
}

.player>.player-content>.control>.progress>.progress-bar>.progress-bar-inner {
    height: 100%;
    background-image: linear-gradient(90deg, var(--theme-1), var(--theme-2));
    border-radius: 5px;
}

.player>.player-content>.info>.artist {
    font-size: 0.9em;
    color: var(--text);
}

.search {
    z-index: 100;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    box-shadow: 1px var(--sd);
    display: flex;
    justify-content: center;
}

.search-music {
    /* position: absolute; */
    left: 10;
    width: 35%;
    height: 30px;
}

input.search-music:hover {
    width: 50%;
    transition: 250ms ease-in-out;
    background: var(--bg50);
}

input.search-music:focus {
    width: 50%;
    transition: 250ms ease-in-out;
    height: 40px;
    background: var(--bg1);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(var(--bg1), var(--bg1)), linear-gradient(90deg, var(--theme-1), var(--theme-2));
    border-bottom-color: transparent;
    box-shadow: 0 1px 10px var(--s3d);
    opacity: 1;
}

.mica>.content>* {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: var(--cm); */
    /* backdrop-filter: blur(20px) saturate(1.5); */
    /* -webkit-backdrop-filter: blur(20px) saturate(1.5); */
    /* box-shadow: 0 1px 2px #44444460, 0px 3px 25px 1px var(--sd); */
    padding: 7px 6px;
    border-radius: 10px;
    z-index: 0;
    display: flex;
}

.mica>.content>.player {
    position: relative;
    display: flex;
    height: 100%;
    left: ;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.player>.player-content {
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;
    width: 50%;
}

.mica>.content>.player>.player-content>.cover,
.loading>.mica>.cover {
    width: 70%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 6px 1px var(--sd);
    border-radius: 10px;
}


body>.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background: url("./img/NB_Music.png");
    opacity: 1;
    margin: 10px 5px 5px 5px;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

.mica>.content>.love-list {
    top: 88px;
    width: 100%;
    bottom: 0;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.cover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sidebar>.list>a {
    padding: 5px 10px 5px 20px;
}

.content>.hide {
    opacity: 0 !important;
    height: 0 !important;
}

.content>div {
    opacity: 1;
    transition: transform 300ms cubic-bezier(0, 0, 0, 1), opacity 300ms 50ms, height 0ms;
    overflow: scroll;
}


.mica>.content>.love-list>div {
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    background-color: var(--bg50);
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mica>.content>.search-result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    overflow-x: hidden;
    top: 83px;
    left: 20%;
    right: 20%;
}

.mica>.content>.search-result>.title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text);
    background-color: var(--bg50);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 6px 1px var(--sd);
}
.love-list>.title{
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    margin: 10px 5px 5px 5px;
    background-color: var(--bg50);
    transition: all 300ms ease;
    box-shadow: 0 0 6px 1px var(--sd);
    align-items: center;
    justify-content: space-between;
    border-left: 4px solid transparent;
}
.mica>.content>.search-result>.list {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    padding: 5px;
}

.sidebar.hide {
    opacity: 0.5;
    transform: translateX(-99%);
    transition: all .6s cubic-bezier(.77,0,.18,1);
}

.content {
    height: 100%;
    left: 180px;
    right: 0;
    position: fixed;
}

#lyrics-container {
    text-align: center;
    right: 0;
    overflow-y: hidden;
    max-height: 90%;
    scroll-behavior: smooth;
    width: 50%;
    position: relative;
}

.lyric-line {
    font-size: 20px;
    line-height: 2;
    margin: 10px 0;
    min-height: 36px;
    transition: all 0.3s ease;
    transform-origin: center center;
    backface-visibility: hidden;
}

.lyric-line.active {
    font-size: 25px;
    margin: 40px 0;
}
.lyrics-scroll-wrapper{
    width: 100%;
    will-change: transform;
    transform: translateZ(0);
}
.char {
    display: inline-block;
    color: #555;
    /* 默认灰色 */
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
    position: relative;
    padding: 0 2px;
}

.char.active {
    color: #fff;
    /* 高亮时白色 */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    opacity: 1;
    transform: translateY(-2px);
}

.char.completed {
    color: #666;
    /* 完成后的灰色 */
    opacity: 0.8;
    transform: translateY(0);
}

.metadata {
    display: none;
}

.titbar {
    min-height: 38px;
    /* background-color: green; */
    padding: 0 0 0 9px;
    position: relative;
    color: var(--text);
    overflow: hidden;
    display: flex;
    z-index: 1001;
    -webkit-app-region: drag;
}

.wbtg.red {
    border-top-right-radius: 10px;
}

.wbtg {
    /* height: 100%; */
    height: 33px;
    float: right;
    width: 45px;
    text-align: center;
    padding-top: 6px;
    font-size: 13px;
    transition: 50ms;
    border-radius: 3px;
    -webkit-app-region: no-drag;
}

.titbar>p {
    font-size: 15px;
    margin-top: 9px;
    flex-grow: 1;
    font-weight: bold;
    color: var(--text);
}

.titbar>img {
    margin: 9px 8px 0 3px;
    height: 22px;
    width: 22px;
}

.listname{
    display: inline-flex;
}
.listname>.controls>* {
    display: inline-block;
    border-radius: 8px;
    margin: 0px 4px;
    transition: transform 400ms cubic-bezier(0.14, 1.02, 0.17, 0.03) !important;
    text-align: center;
}
.content>.music-list{
    left: 20%;
    top: 171px;
}
.content>.music-list>.music-list-info{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    will-change: transform, opacity;
    box-shadow: 0 0 6px 1px var(--sd);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.content>.music-list>.music-list-info>img{
    height: 25%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 16px 24px -12px;
    background-color: var(--card);
    object-fit: cover;
}

.content>.music-list>.music-list-info>button{
    width: 80px;
    color: #fff;
    text-align: center;
    background: linear-gradient(120deg, var(--theme-1), var(--theme-2));
}
